WORDPRESS_API_URL=https://promogamesbr.com/wp-json/wp/v2
NEXT_PUBLIC_SITE_URL=http://localhost:3000
REVALIDATE_SECRET=change-me
PREVIEW_SECRET=change-me
WORDPRESS_PREVIEW_USER=
WORDPRESS_PREVIEW_PASSWORD=
NEXT_PUBLIC_GA_ID=
